https://download.pytorch.org/whl/cpu/torch-1.11.0%2Bcpu-cp39-cp39-linux_x86_64.whl
streamlit
pandas
scikit-learn
plotly
sentence-transformers
transformers
tokenizers
datasets
numpy
matplotlib
seqeval
streamlit-aggrid
streamlit_option_menu
git+https://github.com/aseifert/ecco.git@streamlit
