streamlit
pandas
scikit-learn
plotly
sentence-transformers
transformers
tokenizers
datasets
numpy
matplotlib
seqeval
st_aggrid
streamlit_option_menu
git+https://github.com/aseifert/ecco.git@streamlit
